{% extends "doctors/blank_page.html" %}
{% block content %}
<div class="col-md-7 col-lg-8 col-xl-9">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9 col-sm-12">
					<div class="panel">
						<header class="panel-heading panel-heading-blue">
							schedule</header>
						<div class="panel-body">
							<form class="form-group" method="POST" action="{%url 'addschedule' doctor.id %}">
							{%csrf_token%}
							<div id="calendar" class="has-toolbar"> 
								<span style="color: rgb(4, 5, 4); font-size: larger; font-weight: bolder; color: seagreen;"> Make Your Slot</span>
							<br>
							<input type="checkbox" id="10AM - 10.30AM" name="10AM-10.30AM" value="10.00 AM - 10.30 AM">
							<label for="10AM - 10.30AM">10.00 AM - 10.30 AM</label><br>
							<input type="checkbox" id="10.30 AM - 11 AM" name="10.30AM-11.00AM" value="10.30 AM - 11.00 AM">
							<label for="10.30 AM - 11.00AM">10.30 AM - 11.00 AM</label> <br> 
							<input type="checkbox" id="11 AM - 11.30 AM" name="11.00AM-11.30AM" value="11.00 AM - 11.30 AM">
							<label for="11.00 AM - 11.30 AM">11.00 AM - 11.30 AM</label><br>
							<input type="checkbox" id="11.30AM - 12.00PM" name="11.30AM-12.00PM" value="11.30 AM - 12.00 PM">
							<label for="11.30 AM - 12.00 PM">11.30 AM - 12.00 PM</label><br>
							<input type="checkbox" id="12.00 PM - 12.30 PM" name="12.00PM-12.30PM" value="12.00 PM - 12.30 PM">
							<label for="12.00 PM - 12.30 PM">12.00 PM - 12.30 PM</label><br>
							<input type="checkbox" id="4.00 PM - 4.30 PM" name="4.00PM-4.30PM" value="4.00 PM - 4.30 PM">
							<label for="4.00 PM - 4.30 PM">4.00 PM - 4.30 PM</label><br>
							<input type="checkbox" id="4.30 PM - 5.00 PM" name="4.30PM-5.00PM" value="4.30 PM - 5.00 PM">
							<label for="4.30 PM - 5.00 PM">4.30 PM - 5.00 PM</label><br>
							<input type="checkbox" id="5.00 PM - 5.30 PM" name="5.00PM-5.30PM" value="5.00 PM - 5.30 PM">
							<label for="5.00 PM - 5.30 PM">5.00 PM - 5.30 PM</label><br>
							<input type="checkbox" id="5.30 PM - 6.00 PM" name="5.30PM-6.00PM" value="5.30 PM - 6.00 PM">
							<label for="5.30 PM - 6.00 PM">5.30 PM - 6.00 PM</label><br>
							<div class="form-group text-center m-b-0">
								<button class="btn btn-primary account-btn" type="submit">Submit</button>
							</div>
						</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>





</div>



{% endblock content %}
