{% extends "admin/blank_page.html" %}
			
			{% block content %}
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
				
					<!-- Page Header -->
					
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Add Medical Shop</h4>
								</div>
								<div class="card-body">
									<form action="#">
										<div class="form-body">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Name
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" id="name" data-required="1"
                                                        placeholder="enter name"
                                                        class="form-control input-height" />
                                                </div>
                                                <span style="color: red;" id="errorname"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Experience
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="text" id="experience" data-required="1"
                                                        placeholder="experience"
                                                        class="form-control input-height" />
                                                </div>
                                                <span style="color: red;" id="errorexp"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Email
                                                </label>
                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input type="email" class="form-control input-height"
                                                            id="email" placeholder="Email Address"> </div>
                                                    <span style="color: red;" id="erroremail"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Password
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" id="password1" data-required="1"
                                                        placeholder="enter Password"
                                                        class="form-control input-height" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Confirm Password
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input type="password" id="password2" data-required="1"
                                                        placeholder="Reenter your password"
                                                        class="form-control input-height" />
                                                </div>
                                                <span style="color: red;" id="errorpassword"></span>
                                            </div>
                                            
                                            
                                            
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Mobile No.
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input id="mobile" type="text" placeholder="mobile number"
                                                        class="form-control input-height" /> </div>
                                                <span style="color: red;" id="errormobile"></span>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Place
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-5">
                                                    <input id="place" type="text" placeholder="Place"
                                                        class="form-control input-height" /> </div>
                                                <span style="color: red;" id="errorplace"></span>
                                            </div>
                                            
                                            
                                            <!-- <div class="form-group row">
                                                <label class="control-label col-md-3">Profile Picture
                                                </label>
                                                <div >
                                                    
                                                       <input type="file" id="img" name="profile" accept="image/*">
                                                </div>
                                            </div> -->
                                            
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="offset-md-3 col-md-9">
                                                        <button type="button"
                                                            class="btn btn-info m-r-20" onclick="addshop()">Submit</button>
                                                        
                                                    </div>
                                                    <span style="color: red;" id="error"></span>
                                                </div>
                                            </div>
										
									</form>
	
		   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
           <script>
                 function addshop(){
                    var name = $('#name').val()
                    var experience= $('#experience').val()
                    var email = $('#email').val()
                    var mobile=$('#mobile').val()
                    var mobile_length=$('#mobile').val().length
                    var place=$('#place').val()
                    var password1 = $('#password1').val()
                    var password2 = $('#password2').val()
                    var passlength= $('#password1').val().length
                    var at = email.indexOf('@')
				    var dot =email.indexOf('.')
                    var data= {
					'csrfmiddlewaretoken': '{{csrf_token}}',
					'name': name,
					'exp': experience,
                    'email':email,
                    'password':password1,
                    'place':place,
                    'mobile':mobile,
	
				 }

                 if (name == '') {
					$('#errorname').html('Please fill your name')
				}
                else if (experience == "") {
					$("#errorexp").html("Please fill your experience")
				}
                else if (at<2 || dot<at+2|| dot+2>=email.length) {
				$('#erroremail').html('enter valid format') 
			    }
                else if (place == "") {
					$("#errorplace").html("Please fill your place")
				}
                else if (passlength<5){
				    $('#errorpassword').html('minimum 5 charcter required')
			    }
			    else if (mobile_length<10) {
					$("#errormobile").html("invalid format")
				}
                
                else if (password1 != password2) {
					$("#errorpassword").html("Password not matching")
				}
                
                else{

				$.ajax({
					url :'/admin/add_shop/',
					method :'POST',
					data : data,
					dataType : 'json',
					success:function(data){
						if(data=='true'){
                            alert('succesfully medical shop added')
							window.location.replace('/login/')
						}
						if (data=='false'){
							$('#error').html('user already exist')
						}
						if (data=='false1'){
							$('#error').html('mobile number already exist')
						}
						// if (data=='false2'){
						// 	$('#error').html('Mobile Number already exist')
						// }
						
		
					}
		
				})
			}

                }

           </script>

			{% endblock content %}
			
        